<div class="session">
    <div class="session__content">
        <div class="session__left">
            &nbsp;
        </div>
        <div class="session__right">
            <h1 class="session__heading">Log In</h1>

            <%= form_for :user do |f| %>
                <%= f.label :email %><br>
                <%= f.text_field :email, value: 'Clara@email.com' %><br><br>

                <%= f.label :password %><br>
                <%= f.password_field :password, value: 'pw' %><br><br>

                <% if @errors %>
                    <%= render partial: "application/errors", locals: {errors: @errors} %>
                <% end %>
                
                <%= f.submit 'Log In' %>

            <% end %>
        </div>
    </div>
</div>