<h1>New Journey</h1>

<%= render partial: "application/errors", locals: {errors: @entry.errors.full_messages} %>
<%# render 'form' %>

<%= form_with model: @entry, url: user_entries_url do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br><br>

    <%= f.label :content %><br>
    <%= f.text_area :content %><br><br>

    <%= f.label :name, "Choose a goal!" %><br>
    <%= f.collection_select :goal_id, @goals, :id, :name, include_blank: true %><br><br>

    <%= f.submit %>
<% end %>