<h1>New Journey</h1>

<%# render partial: 'form' %>

<%= form_with model: @entry, url: user_entries_url do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br><br>

    <%= f.label :content %><br>
    <%= f.text_area :content %><br><br>

    <%= f.fields_for :goal do |g| %>        
        <%= g.label :name, "Choose a goal!" %><br>
        <%= g.collection_select :name, @goals, :id, :name, include_blank: true %><br><br>
    <% end %>

    <%= f.submit %>
<% end %>