<div class="entries">
    <div class="entries__left">
        <h1 class="heading">My Journeys</h1>
        <%= form_tag user_journeys_path(@user), class: 'entry__form', method: :get do %>
            <%= text_field_tag :query, @query, class: 'entry__searchbar' %>
            <%= submit_tag "Search",  id: 'entry__submit'%>
        <% end %><br>
        <span><%= link_to 'New Journey', new_user_journey_path(@user) %>&larrhk;</span>
    </div>
    <div class="entries__right">
        <div class="entries__list">
            <% if @journeys.empty? %>
                <p><em>No results found</p></em>
            <% else %>
                <ul class="entries__list">
                <% @journeys.each do |journey| %>
                    <li class="entries__item"><%= link_to journey.title, user_journey_path(@user, journey) %></li>
                <% end %>
                </ul>
            <% end %>
        </div>
    </div>
</div>