<h1><%= @journey.title %></h1>

<%= link_to "Edit Journey", edit_user_journey_path(@user, @journey) %><br><br>

<text><%= @journey.content %></text>

<h2>Goal:</h2>

<%= @goal.name %> - <%= @goal.description %><br><br>

<%= button_to "Delete", user_journey_path(@journey), method: :delete %>
