<!DOCTYPE html>
<html>
  <head>
    <title>Rails Social Media Distancing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Log In", login_path %>
    <%# link_to "Sign in with Github", '/auth/github' %>
  </header>

  <body>
    <h1>Rails Social Media Distancing</h1>

    <%= yield %>
  </body>
</html>
