<!DOCTYPE html>
<html>
  <head>
    <title>Social Media Distancing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    <!-- the below meta tags will help add thubnails to linkedin features section -->
    <meta name="description" content="Social Media Distancing App" />
    <meta name="title" property="og:title" content="Social Media Distancing" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://portfolio-b36dc.web.app/static/media/social_media_distancing.39ef21b5.png" />
    <meta name="description" property="og:description" content="Social Media Distancing App" />
    <meta name="author" content="Chindalath Traymany" />
  </head>

  <body>
    <div class="navigation__container">
      <nav class="navigation">
        <ul class="navigation__list">
          <% if !current_user %>
            <li class="navigation__item"><%= link_to "Home", root_path, class: 'navigation__link' %></li>
            <li class="navigation__item"><%= link_to "Sign Up", signup_path, class: 'navigation__link' %></li>
            <li class="navigation__item"><%= link_to "Log In", login_path, class: 'navigation__link' %></li>
            <%#li class="navigation__item"><%= link_to "Continue with Google", '/auth/google_oauth2', class: 'navigation__link' %></%li>
          <% else %>
            <li class="navigation__item"><%= link_to "Home", user_path(current_user), class: 'navigation__link' %></li>
            <li class="navigation__item"><%= link_to "Goals", user_goals_path(current_user), class: 'navigation__link' %></li>
            <li class="navigation__item"><%= link_to "Journeys", user_journeys_path(current_user), class: 'navigation__link' %></li>
            <li class="navigation__item"><%= button_to "Log Out", logout_path, class: 'navigation__link', id: 'logout__button', method: :delete %></li>
            <%# link_to was having issues (no route matches GET logout) %>
          <% end %>
        </ul>
      </nav>
    </div>
    
    <%= yield %>

  </body>

</html>
